body {
    background-image: url(./bg-main-desktop.png);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100vh - 100px);
    align-content: center;
    justify-content: center;
}

img {
    width: 50%;
}

section>*:first-child {
    align-self: center;
}

section>:nth-child(2) {
    align-self: end;
}

section img {
    margin: 20px;
}